@use '../util' as u;

html {
    box-sizing: border-box;
    font-size: 100%;
}

* {
    font-family: "Ubuntu", sans-serif;
    color: var(--text);
    text-decoration: none;
  }

  body {
    margin: auto;
    width: 85%;
  }

  h1 {
    text-align: center;
  }
  h2 {
    font-size: 1.5rem;
  }
  a {
    font-size: 1.2rem;
  }

.header-component {
  font-size:1.8rem;
  text-align: center;
  text-decoration: underline;
}


  